body{

  font-size: 30px;
  color: #b2b7dd;
  background-color: #fff7f0;
  height: 800px;
}

.imagen{
  font-family: sleepyFatCat;
  width: 100%;
  height: 100%;
  float: center;
  border: 0px solid transparent;
  border-collapse: collapse;
}

.imagen{
  border: 2px solid transparent;
}

.imagen:hover{
  background: transparent;
}

.imagen1{
  border: 2px solid transparent;
}

.imagen1:hover{
  background: transparent;
}



.contenido{
  width: 500px;
  margin: 0 auto;
}

.result{
  background-color: #2e2e2e;
}

.textNum{
  font-family: lulo clean;
  color: #74b9af;
  text-align: right;

}

.textNum2{
  font-family: lulo clean;
  color: #2e2e2e;
  text-align: center;

}

.operador{
  background-color: #74b9af;
}


.result:hover{
  background: #2e2e2e;
  color: #c2c2c2;
}

.oper{
  background: #c2c2c2;
  font-family: lulo clean;
  color: #2e2e2e;
}

.oper:hover{
  background: #c2c2c2;
}

.tabla{
  height: 400px;
  text-align: center;
  font-family: lulo clean;
  background-color: #eeb5b5; /*color rosa*/
  border: 0px solid #5e5e5e;
  border-collapse: collapse;
}

td{
  border: 2px solid #d4d4d4;
}

td:hover{
  background: #e48686;

}

input {
  background: transparent;
  font-family: lulo clean;
  font-size: 20px;
  border: 0px;
  width: 100%;
  height: 100%;
}
